// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    line-height: normal;
}

h1{
    font-size: 2.8em;
    color: $text-color;
}

h2{
    font-size: 2.4em;
    color: $primary-color;
}

h3{
    font-size: 2em;
    color: $secondary-color;
}

h4, h5, h6{
    font-size: 1.8em;
    color: $text-color;
}

p{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 20px;
    color: $text-color;
}

hr{
    opacity: 0.3;
}

// -----------------------------------------------------------------------------
// TYPOGRAPHY (RTL)
// -----------------------------------------------------------------------------
.rtl{
    h1{
        line-height: 40px;
    }

    h2, h3{
        line-height: 30px;
    }

    h4, h5, h6{
        line-height: 28px;
    }

    p{
        line-height: 23px;
    }
}

// -----------------------------------------------------------------------------
// TYPOGRAPHY (RESPONSIVE)
// -----------------------------------------------------------------------------