// -----------------------------------------------------------------------------
// ACTIVATE ACCOUNT PAGE
// -----------------------------------------------------------------------------
.activate-block{
    .center-max-width{
        max-width: 700px;
        position: relative;
        background: #ffffff;
        @include box-shadow(0px, 0px, 50px, 0px, rgba(94, 94, 94, 0.1));
        @include border-radius(3px);
        margin-top: -125px;
    }

    .activate-img{
        svg{
            width: 200px;
            height: 200px;
        }
    }

    

    // -----------------------------------------------------------------------------
    // ACTIVATE FORM
    // -----------------------------------------------------------------------------
    .activate-form{
        width: 350px;

        .activate-desc{
            font-size: 1.4em;
            color: $text-color;
        }

        form{
            width: 100%;

            .form-row{
                width: 100%;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// ACTIVATE ACCOUNT PAGE (RTL)
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// ACTIVATE ACCOUNT PAGE (RESPONSIVE)
// -----------------------------------------------------------------------------