// -----------------------------------------------------------------------------
// INITIAL FONT SIZE
// -----------------------------------------------------------------------------
$initial-font-size: 10px;
$mobile-font-size: 9px;

// -----------------------------------------------------------------------------
// ELEMENTS DEFAULT MAX WIDTH CENTERING
// -----------------------------------------------------------------------------
$default-width-center-percent: 90%;
$default-max-width: 1366px;

// -----------------------------------------------------------------------------
// FONT FAMILIES
// -----------------------------------------------------------------------------
$primary-font-family: "HelveticaNeue";
$secondary-font-family: "HelveticaNeueLTArabic";

// -----------------------------------------------------------------------------
// MAIN COLORS
// -----------------------------------------------------------------------------
$primary-color: #0088b5;
$secondary-color: #007d22;
$primary-color-light: #51b5cf;
$primary-color-overlay: rgba(81 ,181 ,207, 0.08);
$secondary-color-light: #6dbd47;
$gradient-primary: (-45deg, #51b5cf, #0088b5);
$gradient-secondary: (-45deg, #6dbd47, #007d22);
$gradient-all-colors: (-45deg, #6dbd47, #51b5cf, #007d22, #0088b5);
$separator-color: #f8f8f8;

// -----------------------------------------------------------------------------
// TEXT COLOR
// -----------------------------------------------------------------------------
$text-color: #555555;